@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using PrintShop.Controllers

@{
    ViewBag.Title = "title";
    Layout = null;
}

<head>
      
        <meta charset="utf-8">
          <meta content="width=device-width, initial-scale=1.0" name="viewport">
        
          <title>Gp Bootstrap Template - Index</title>
          <meta content="" name="description">
          <meta content="" name="keywords">
        
          <!-- Favicons -->
          <link href="../assets1/img/favicon.png" rel="icon">
          <link href="../assets1/img/apple-touch-icon.png" rel="apple-touch-icon">
        
          <!-- Google Fonts -->
          <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        
        <!-- Vendor CSS Files -->
        
          <link href="../assets1/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet">
          <link href="../assets1/vendor/icofont/icofont.min.css" rel="stylesheet">
          <link href="../assets1/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
          <link href="../assets1/vendor/owl.carousel/assets1/owl.carousel.min.css" rel="stylesheet">
          <link href="../assets1/vendor/venobox/venobox.css" rel="stylesheet">
          <link href="../assets1/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="../assets1/vendor/aos/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        
          <!-- Template Main CSS File -->
        <link href="../assets1/css/style.css" rel="stylesheet">
       

        
        <!-- =======================================================
        * Template Name: Gp - v3.0.0
        * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
  </head>

	  
<html>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="" style="color: #0b0b0b" >Backdoor shop<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src=""../assets1/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/" style="color: #0b0b0b; border: #0b0b0b">Home</a></li>
          <li class="fa fa-shopping-cart" style="font-size:24px; color: #0b0b0b"></li>

        </ul>
      </nav><!-- .nav-menu -->
      @if (SignInManager.IsSignedIn(User))
      {
              
        <a style="color: #0b0b0b" asp-area="Identity" asp-page="/Account/Manage/Index" >Hello @User.Identity.Name!</a>
              
                 
              
      }
      else
      {
        <a href="/Identity/Account/Login" class="get-started-btn scrollto">Log in</a>
      }
      
    
    </div>
    
  </header><!-- End Header -->


<main id="main">

  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
 
      <div class="section-title">
        <h2>Products</h2>
        <p>My shopping bag</p>
      </div>
 
      <div class="row">
        @{
          var products = ViewData["items"] as List<Product>;
          var sum = products.Sum(x => x.Price);
          foreach (var product in products)
          {
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="@product.ImageUrl" class="img-fluid" alt="" style="height: auto; width: 100%">
                                
                </div>
                <div class="member-info">
                  <h4>@product.Name</h4>
                  <span>@product.Price lei</span>
                  <br>
                  <a href="@Url.Action("DeleteCartItem", new {id = @product.Id} )" class="glyphicon glyphicon-trash" style="color: #0b0b0b">
                    <i class="icon-pencil icon-white"></i>
                                                                                
                  </a>
                </div>
              </div>
            </div>
          }
        }

           

          
             
      </div>
    </div>
  </section>
  <br>
  <br>
  <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
  
          <div class="text-center">
            <h3>Total: @sum lei</h3>
            <a class="cta-btn" href="#">Continue</a>
          </div>
  
        </div>
      </section><!-- End Cta Section -->
      
      	
</main>

 
 
  <!-- Vendor JS Files -->
  <script src="../assets1/vendor/jquery/jquery.min.js"></script>
  <script src="../assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets1/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../assets1/vendor/php-email-form/validate.js"></script>
  <script src="../assets1/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../assets1/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets1/vendor/venobox/venobox.min.js"></script>
  <script src="../assets1/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../assets1/vendor/counterup/counterup.min.js"></script>
  <script src="../assets1/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
<script src="../assets1/js/main.js"></script>
<script src="../js1/main.js"></script>
<!-- jQuery -->
	<script src="../../js1/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../../js1/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../js1/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../js1/jquery.waypoints.min.js"></script>

	<!-- Magnific -->
	<script src="../js1/jquery.magnific-popup.min.js"></script>
	<script src="../js1/magnific-popup-options.js"></script>
	<!-- Isotope & imagesLoaded -->
	<script src="../js1/isotope.pkgd.min.js"></script>
	<script src="../js1/imagesloaded.pkgd.min.js"></script>
	<!-- GSAP  -->
	<script src="../js1/TweenLite.min.js"></script>
	<script src="../js1/CSSPlugin.min.js"></script>
	<script src="../js1/EasePack.min.js"></script>

	<!-- MAIN JS -->
	<script src="../js1/main.js"></script>


</body>
</html>




